{% extends 'base.html.twig' %}

{% block title %}
	{{ page.title }}
{% endblock %}
{% block description %}
	{{ page.description }}
{% endblock %}
{% block body %}
<section style="background-color:{{ page.color }}10;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-7 p-5 scrollable">
				<h1 class="text-primary text-center p-5">{{ page.titleH1 }}</h1>
				{% for faq in faqs|reverse %}
					<div class="card mt-5 mb-5 shadow">
						<div class="card-header">
							<h5 class="text-primary m-2">{{ faq.question }}</h5>
						</div>
						<div class="card-body">
							<p class="text-primary m-2">{{ faq.answer }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-lg-5 mt-5 mb-5 p-5">
				<p class="text-primary text-center fs-5">Vous ne trouvez pas de réponse à vos questions</p>
				<h3 class="text-primary text-center fs-4 mb-5">Contactez-moi</h3>
				{{ render(controller('App\\Controller\\ContactController::contactView')) }}
			</div>
		</div>	
	</div>
</section>
{% endblock %}
