{% extends 'base.html.twig' %}
{% block title %}
	{{ page.title }}
{% endblock %}
{% block description %}
	{{ page.description }}
{% endblock %}
{% block body %}
<section style="background-color:{{ page.color }}10">
    <div class="container">
        <h1 class="text-primary text-center p-5">{{ page.titleH1 }}</h1>
        {% for content in page.contents|sort((a, b) => a.position <=> b.position) %}
            {% if (content.position%2 == 0) %}
            <div id="{{ 'service' ~ content.position }}" class="row mt-5 pb-5">
                <div class="col-lg-5 order-lg-2 order-sm-1">
                    <img class="img-fluid rounded-circle shadow mb-5" src="{{ ('/uploads/pictures/' ~ content.image)|imagine_filter('size')}}" alt="{{ content.title }}">
                </div>
                <div class="col-lg-7 order-lg-1 order-sm-2 align-self-center">
                    <h5 class="text-primary">{{ content.title }}</h5>
                    <p class="text-primary m-4">{{ content.body|raw }}</p>
                </div>
            </div>
            {% else  %}
            <div id="{{ 'service' ~ content.position }}" class="row mt-5 pb-5">
                <div class="col-lg-5">
                    <img class="img-fluid rounded-circle shadow mb-5" src="{{ ('/uploads/pictures/' ~ content.image)|imagine_filter('size')}}" alt="{{ content.title }}">
                </div>
                <div class="col-lg-7 align-self-center">
                    <h5 class="text-primary">{{ content.title }}</h5>
                    <p class="text-primary m-4">{{ content.body|raw }}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
