{% for content in contents|sort((a, b) => b.createdAt <=> a.createdAt|slice(0, 3) %}
<div class="card mb-3 shadow">
    <div class="row g-0">
        <div class="col-lg-4">
            <img src="{{ ('/uploads/pictures/' ~ content.image)}}" class="card-img-top w-100 d-block fit-cover" style="height:200px;" alt="{{ content.title }}">
        </div>
        <div class="col-lg-7">
            <div class="card-body">
            <a class="text-decoration-none" href="{{ path('app_news') }}">
                <h3 class="text-primary card-title">{{ content.title }}</h3>
                <p class="text-primary card-subtitle">{{ content.createdAt|date("d/m/Y") }}</p>
                <p class="text-primary card-text">{{ content.summary|raw }} </p>
            </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
