{% extends 'admin/base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
<body>
<div class="container-fluid">
        <h1 class="text-center">{{ page.title }}</h1>
        {% for content in page.contents %}
            <h2>{{ content.title }}</h2>
            <p>Créer le : {{ content.createdAt|date("d/m/Y") }}</p>
            <img class="news-image" src="{{ ('/uploads/pictures/' ~ content.image)|imagine_filter('actu')}}" alt="{{ content.title }}">
            <p>{{ content.body|raw }}</p>
            <a class="btn btn-info" href="{{ path('send-newsletter', { 'id': page.id }) }}">Envoyer la newsletter</a>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
