{% extends 'base.html.twig' %}

{% block title %}
	{{page.title}}
{% endblock %}
{% block body %}
	<section>
		<h1 class="text-primary text-center p-5">{{page.title}}</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg">
					{% for news in pagination %}
						<section class="mb-5 mt-3">
							<h2 class="text-primary mb-1">{{ news.titleH1 }}</h2>
							{% for content in news.contents %}
								<div class="text-muted fst-italic mb-2">
									Newsletter du
									{{ content.createdAt|date("d/m/Y") }}
								</div>
								<div class="mt-3">
									<h3 class="text-primary">{{ content.title }}</h3>
									<img class="img-fluid rounded" src="{{ ('/uploads/pictures/' ~ content.image)|imagine_filter('actu')}}" alt="{{ content.title }}"/>
									<div class="mt-5">{{ content.body|raw }}</div>
								</div>
							{% endfor %}
						{% endfor %}
						<div class="navigation">
							{{ knp_pagination_render(pagination, null, {}, {
                                                'align': 'center',
                                                'rounded': true,
                            }) }}
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
