<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Nouvelle actualité</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
			line-height: 1.6;
			color: #353535;
			background-color: rgba(53, 53, 53, 0.1);
		}
		h1 {
			color: #fff;
			font-size: 2rem;
			margin-top: 0;
			padding: 1rem;
			background-color: {{ page.color }};
		}
		h1, h2 {
			text-align: center;
        }
		img{
			height: 400px;
			object-fit:cover;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.created-at{
			text-align: center;
			font-size: 1.2rem;
			color: #999;
		}
		section {
			font-size: 1.2rem;
			width: 80%;
			margin-bottom: 5rem;
			margin-top: 5rem;
		}
		.socials{
			text-align: center;
		}
		.footer-bottom {
			margin-bottom: 0;
			text-align: center;
		}
		footer{
			background-color: #353535;
			color: #fff;
			font-size: 1.6rem;
		}
		footer a {
			color: #fff;
		}
		.unsubscribe{
			text-align: center;
			font-size: 0.7rem;
		}
	</style>
</head>
<body>
	<h1>{{ page.title }}</h1>
	<div class="container">
		{% for content in page.contents %}
			<h2>{{ content.title }}</h2>
				<p class="created-at" >Créer le : {{ content.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}}</p>
				<img src="{{ url('app_home') }}/uploads/pictures/{{ content.image }}" alt="{{ content.title }}">
			<section class="content-body">{{ content.body|raw }}</section>
		{% endfor %}
	</div>
	<div class="content">
		<p class="socials">
			Vous pouvez retrouver toutes nos actualités sur
			<a href="https://www.facebook.com/people/Bien-%C3%8Atre-Qi-Gong/100086974071593/">Facebook</a>
			&
			<a href="https://www.instagram.com/bienetreqigong/">Instagram</a>.
		</p>
	</div>
	<footer>
		<p class="unsubscribe">
			Vous pouvez vous désinscrire de la newsletter en <a href="{{ url('unsubscribe', {'uuid': uuid}) }}">cliquant sur ce lien</a>.
		</p>
		<p class="footer-bottom">
			Fait avec zenitude par Bien-être & Qi-Gong
		</p>
	</footer>
</body>
</html>